# World Bank Projects with JSON
****
+ get familiar with packages for dealing with JSON
+ study examples with JSON strings and files 
+ work on exercise to be completed and submitted 
****
+ reference: http://pandas.pydata.org/pandas-docs/stable/io.html#io-json-reader
+ data source: http://jsonstudio.com/resources/

****
Using data in file 'data/world_bank_projects.json' and the techniques demonstrated above,
1. Find the 10 countries with most projects
2. Find the top 10 major project themes (using column 'mjtheme_namecode')
3. In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

In [1]:
import pandas as pd
import numpy as np
import json
from pandas.io.json import json_normalize

In [2]:
# Load json file as a string
data = json.load((open('data/world_bank_projects.json')))

# Load json file into a Pandas dataframe
data_df = pd.read_json('data/world_bank_projects.json')

In [3]:
# 1. The 10 countries with the most projects

# First, we use the Pandas dataframe to isolate columns: country name and project names
top_projects = data_df[['countryname' , 'project_name']]

# Then, we group by country name 
top_projects = top_projects.groupby("countryname")

# Now, we get a count using .size() and we sort from highest to lowest using .sort_values()
top_projects = top_projects.size().sort_values(ascending = False)

#Finally, we use .head() to get top 10.
top_projects = top_projects.head(10)
top_projects

countryname
People's Republic of China         19
Republic of Indonesia              19
Socialist Republic of Vietnam      17
Republic of India                  16
Republic of Yemen                  13
Nepal                              12
People's Republic of Bangladesh    12
Kingdom of Morocco                 12
Africa                             11
Republic of Mozambique             11
dtype: int64

In [4]:
# 2. The top 10 major project themes (using column 'mjtheme_namecode')

# First, we normalize the data to create tables from nested element.
top_project_themes = json_normalize(data, 'mjtheme_namecode')

# Then, we group by name using .groupby()

top_project_themes = top_project_themes.groupby('name')

# Now, we get a count using .size() and we sort from highest to lowest using .sort_values()
top_project_themes = top_project_themes.size().sort_values(ascending = False)

#Finally, we use .head() to get top 10.
top_project_themes = top_project_themes.head(10)
top_project_themes

name
Environment and natural resources management    223
Rural development                               202
Human development                               197
Public sector governance                        184
Social protection and risk management           158
Financial and private sector development        130
                                                122
Social dev/gender/inclusion                     119
Trade and integration                            72
Urban development                                47
dtype: int64

In [5]:
# 3. Notice that some entries have only the code and the name is missing. 
# Our objective is to create a dataframe with the missing names filled in.

# See that values with index 1, 13, 17, 19 and etc. in mjtheme_namecode are missing.
all_x = json_normalize(data, 'mjtheme_namecode')
all_x

     code                                          name
0       8                             Human development
1      11
2       1                           Economic management
3       6         Social protection and risk management
4       5                         Trade and integration
5       2                      Public sector governance
6      11  Environment and natural resources management
7       6         Social protection and risk management
8       7                   Social dev/gender/inclusion
9       7                   Social dev/gender/inclusion
10      5                         Trade and integration
11      4      Financial and private sector development
12      6         Social protection and risk management
13      6
14      2                      Public sector governance
15      4      Financial and private sector development
16     11  Environment and natural resources management
17      8
18     10                             Rural development
19      7
20      2                      Public sector governance
21      2                      Public sector governance
22      2                      Public sector governance
23     10                             Rural development
24      2
25     10                             Rural development
26      6         Social protection and risk management
27      6         Social protection and risk management
28     11  Environment and natural resources management
29      4
...   ...                                           ...
1469    8                             Human development
1470    9                             Urban development
1471    6         Social protection and risk management
1472    6         Social protection and risk management
1473    9                             Urban development
1474    2                      Public sector governance
1475    2                      Public sector governance
1476   10                             Rural development
1477   11
1478    8                             Human development
1479    7                   Social dev/gender/inclusion
1480   11  Environment and natural resources management
1481    5
1482    6         Social protection and risk management
1483    8
1484    4      Financial and private sector development
1485    7                   Social dev/gender/inclusion
1486    8                             Human development
1487    5                         Trade and integration
1488    2                      Public sector governance
1489    8                             Human development
1490   10                             Rural development
1491    6
1492   10                             Rural development
1493   10                             Rural development
1494   10                             Rural development
1495    9                             Urban development
1496    8                             Human development
1497    5                         Trade and integration
1498    4      Financial and private sector development

[1499 rows x 2 columns]

In [6]:
# Let's drop duplicate rows using .drop_duplicates to have a smaller table to work with.
some_x = all_x.drop_duplicates()
some_x

    code                                          name
0      8                             Human development
1     11
2      1                           Economic management
3      6         Social protection and risk management
4      5                         Trade and integration
5      2                      Public sector governance
6     11  Environment and natural resources management
8      7                   Social dev/gender/inclusion
11     4      Financial and private sector development
13     6
17     8
18    10                             Rural development
19     7
24     2
29     4
53     9                             Urban development
121   10
201    5
212    1
252    3                                   Rule of law
333    9
493    3

In [9]:
# Now, we need to get rid of the empty rows then sort.

# First we replace the empty space as NA values.
some_x = some_x[some_x != '']

# Then, we drop all rows that have 'name' as NA
some_x.dropna(subset=['name'], inplace=True)

# We change 'code' to be an integer instead of a string so we can sort
x1 = some_x[['code']].astype(int)
x2 = some_x[['name']]

# Finally we combine using concat(), sort using sort_values(), and reset the index
x = pd.concat([x1, x2], axis=1)
x = x.sort_values("code")
x = x.reset_index(drop=True)
x

    code                                          name
0      1                           Economic management
1      2                      Public sector governance
2      3                                   Rule of law
3      4      Financial and private sector development
4      5                         Trade and integration
5      6         Social protection and risk management
6      7                   Social dev/gender/inclusion
7      8                             Human development
8      9                             Urban development
9     10                             Rural development
10    11  Environment and natural resources management